.footer {
    height: 80px;
    background-color: black;

    &--copyright {
        color: white;
        font-weight: lighter;
        text-transform: uppercase;
        text-align: center;
        font-family: "Anton", sans-serif;
    }
    &--contact {
        padding: none;
        display: flex;
        justify-content: space-evenly;
        &__modif {
            font-size: 10px;
            font-family: "Anton", sans-serif;
            font-weight: lighter;
            text-transform: uppercase;
        }
    }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
    .footer {
        height: 80px;

        &--contact {
            &__modif {
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width: 701px) {
    .footer {
        height: 160px;
        &--copyright {
            font-size: 60px;
            color: white;
            font-weight: lighter;
            text-transform: uppercase;
            text-align: center;
            font-family: "Anton", sans-serif;
        }
        &--contact {
            &__modif {
                margin-top: 40px;
                font-size: 35px;
            }
        }
    }
}
